# Learning Python

- ## 1st step:
    ### Print

In [3]:
print ("Hello World")

Hello World

In [4]:
print ("Hello, World")

Hello, World

- ## 2nd step:
  ### Variables for Strings

In [5]:
name = "Hyper"
print (name)

Hyper

In [7]:
first_name = "Hyper"
last_name = "Spy"
print(first_name + last_name)

HyperSpy

In [9]:
country = "Pakistan"
comma = ","
city = "Karachi"
where_do_i_live = country + comma + city
print(where_do_i_live)

Pakistan,Karachi

- ## 3rd step:
  ### Variables for Numbers

In [11]:
cars = 100
cars_sold = 25
cars_left = cars - cars_sold
print (cars_left)

75

In [14]:
number_of_mobiles = 50
number_of_mobiles_sold = 10
number_of_mobiles_left = number_of_mobiles - number_of_mobiles_sold
print(number_of_mobiles_left)

40

- ## 4rth step:
  ### Math expressions: Familiar operators

In [15]:
popular_number = 3.5 + 3.5
print(popular_number)

7.0

In [16]:
popular_number = 24/2
print(popular_number)

12.0

- ## 5th
  ### Variable Names Legal and Illegal

#### illegal words:

- user name
- user-name

#### legal words:
- user_name

- ## 6th step:
  ### Math expressions: Unfamiliar operators

In [19]:
left_over = 10 % 5
print(left_over)

0

In [20]:
left_over = 10 % 4
print(left_over)

2

In [21]:
age = 16
print(age+1)

17

In [22]:
age = 15
age = age + 1
print(age)

16

In [23]:
age = 15
age += 1
print(age)

16

In [24]:
age = 14
age -= 2
print(age)

12

- ## 7th step:
  ### Math expressions: Eliminating ambiguity

In [27]:
bread_cost = 1 * (3 + 2) * 2
print(bread_cost)

10

In [28]:
cookie_price = 8 * 10 - 20
print(cookie_price)

60

- ## 8th step:
  ### Concatenating text strings

In [1]:
name = "Hyper, Spy"
print(name)

Hyper, Spy

In [2]:
first_name = "Hyper"
space = ","
last_name = "Spy"
full_name = first_name + space + last_name
print(full_name)

Hyper,Spy

- ## 9th step:
  ### if statements

In [7]:
species = "dog"
if species == "dog":
    print("Yep,I wanna buy It")

Yep,I wanna buy It

In [11]:
car_company = "honda"
if car_company == "honda":
    print("yep,i wanna buy a car")
if car_company != "honda":
    print("i dont wanna buy the car")

yep,i wanna buy a car

- ## 10th step:
  ### Comparison operators

In [5]:
lottery_number = "12345"
if lottery_number == "12425":
    print("congrats, you won")
if lottery_number != "12425":
    print("Better luck next time")

Better luck next time

In [9]:
price = 100
if price >= 101:
    print("i cant afford this")
if price <= 100:
    print("i can afford this")

i can afford this

- ## 11th step:
  ### Comparison operators

In [10]:
bird = "parrot"
if bird == "parrot":
    print("yes i wanna buy it")
if bird != "parrot":
    print("i dont wanna buy")

yes i wanna buy it

In [19]:
mango_condition = "rotten"
if mango_condition == "fresh":
    price = "100"
elif mango_condition == "not fresh":
    price = "50"
else:
    mango_condition = "rotten"
    price = "0"
print(price)

0

- ## 12th step:
  ### Comparison operators

In [14]:
height = 5
weight = 40
if weight >50 and height <= 7:
    status = "Good Physique"
if weight <50 and height <6:
    status = "Normal Physique"
print("You have a",status)

You have a Normal Physique

In [13]:
age = 11
ticket_price = 100
if age >= 60 or age <= 12:
    ticket_price = 0
if age >12 and age <60:
    ticket_price = 100
print("Your ticket price is",ticket_price)

Your ticket price is 0

- ## 13th step:
  ### if statements nested

In [16]:
day = "saturday"
end_of_the_day = "Good Night"
if day == "saturday":
    print("cook some pancakes")
    print("do the house cleaning")
    print("watch some tv")
print(end_of_the_day)

cook some pancakes
do the house cleaning
watch some tv
Good Night

In [17]:
day = "monday"
endoftheday = "Sweet Dreams"
if day == "monday":
    print("make your breakfast")
    print("go to the school")
    print("comeback home")
print(endoftheday)

make your breakfast
go to the school
comeback home
Sweet Dreams

In [18]:
a = 1
b = 1
c = 2
d = 2
x = 3
y = 4

if a == b:
    if c == d:
        x = y
        print(x)

4

- ## 14th step:
  ### Comments

In [21]:
if a == b:
    if c == d:
        x == y
        print(x)
# lets see where the issue is if the first two statements are false and make it a comment

if a == b:
    if c == d:
        # x == y
        print(x)

4
4

In [25]:
'''
ignore this
ignore this too
ignore this one too
'''
print("hello world")

hello world

- ## 15th step:
  ### Lists

In [27]:
classmate = ["alex", "stephen", "jhon"]
print("Hi there",classmate[0])

Hi there alex

- ## 16th step:
  ### Lists: Adding and changing elements

In [29]:
classmate = ["alex", "stephen", "jhon"]
classmate.append("jerry")
print(classmate[3])

jerry

In [30]:
classmate = ["alex", "stephen", "jhon"]
classmate = classmate + ["jerry", "thomas"]
print(classmate)

['alex', 'stephen', 'jhon', 'jerry', 'thomas']

- ## 17th step
  ### Lists: Taking slices out of them

In [52]:
classmate = ["alex", "stephen", "jhon"]
students = classmate[1:3]
print(students)

['stephen', 'jhon']

- ## 18th step:
  ### Lists: Deleting and removing elements

In [54]:
classmate = ["alex", "stephen", "jhon"]
del classmate[2]
print(classmate)

['alex', 'stephen']

In [55]:
classmate = ["alex", "stephen", "jhon"]
classmate.remove("alex")
print(classmate)

['stephen', 'jhon']

- ## 19th step:
  ### Lists: popping elements

In [67]:
past_scores = [85, 92, 78, 90]
present_scores = []
latest_scores = []
present_scores = past_scores.pop(2)
latest_scores.append (present_scores)
print(latest_scores)

[78]

In [ ]:
# steps:
#the varible that is handling the popped value
present_scores
#step 2
=
#step 3
#name of the list the thing is being popped off
past_scores
#step 4
.
#step 5
#the keyword
pop
#step 6
#the index number of the targated value
2

#you can also pop and insert the value from only one line of code
tasks_accomplished.insert(1, tasks.pop(1))
#first the variable that will hold the popped value
#then keyword .insert
#then(and the index value of the value that is being popped out (2
#then comma,
#then space 
#then the name  of the list from which the value is being popped out 
#then the keyword.pop
#then the index value of the value being popped out
#finally close the brackets

- ## 20th step:
  ### Tuples

In [78]:
inventory = ("sword", "shield", "potion", "key")
second_inventory_item = inventory[1]
#now if we need to change the 2 item in inventory we need to write the whole code again like this:
inventory = ("sword", "axe", "potion", "key")

- ## 21st step
  ### for loops

In [97]:
clean_cities = ["Islamabad", "Bahawalpur", "Sahiwal", "Rawalpindi", "Gwadar"]
city_to_check = "Gwadar"
for a_clean_city in clean_cities:
    if city_to_check == a_clean_city:
        print("its a clean  city")
        break
else: print("no its not a clean city")

its a clean  city

- ## 22nd step:
  ### for loops nested

In [2]:
first_names = ["Ethan", "Sophia", "Marcus", "Elena"]
last_names = ["Vance", "Chen", "Rodger", "Kim"]
full_name = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_name.append(a_first_name + " " + a_last_name)
print(full_name)

['Ethan Vance', 'Ethan Chen', 'Ethan Rodger', 'Ethan Kim', 'Sophia Vance', 'Sophia Chen', 'Sophia Rodger', 'Sophia Kim', 'Marcus Vance', 'Marcus Chen', 'Marcus Rodger', 'Marcus Kim', 'Elena Vance', 'Elena Chen', 'Elena Rodger', 'Elena Kim']

- ## 23rd step:
  ### Getting information from the user and converting strings and numbers

In [7]:
clean_cities = ["Islamabad", "Bahawalpur", "Sahiwal", "Rawalpindi", "Gwadar"]
city_to_check = input("Enter the name of a city")
for a_clean_city in clean_cities:
    if city_to_check == a_clean_city:
        print("yep its a clean city")
        break
else: print("its not a clean city")

Enter the name of a city karachi

its not a clean city

In [10]:
good_student = ["Jhon", "Alex"]
student = input("Enter student's name")
for a_good_student in good_student:
    if student == a_good_student:
        print("he is a good student")
        break
else: print("he's not a good student")

Enter student's name Alex

he is a good student

- ## 24th step:
  ### Changing case

In [ ]:
city_to_check = input("Please Enter Your City Name: ")
city_to_check = city_to_check.lower()
clean_cities = ["islamabad", "bahawalpur", "sahiwal", "rawalpindi", "gwadar"]
for a_clean_city in clean_cities:
    if city_to_check == a_clean_city:
        print("Your City Is One Of The Cleanest Cities In Pakistan")

- ## 25th step:
  ### Dictionaries: What they are

- # learnt

- ## 26th step :
  ### Dictionaries: How to code one

In [2]:
customer_29880 = {"first name" : "Jordan", "last name" : "Smith", "address" : "56 Bayside Drive"}

- ## 27th step:
  ### Dictionaries: How to pick information out of them

In [4]:
customer_29880 = {"first name" : "Jordan", "last name" : "Smith", "address" : "56 Bayside Drive"}
customer_name = customer_29880["first name"]
print(customer_name)

Jordan

- ## 28th step:
  ### Dictionaries: The versatility of keys and values

In [11]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
print(customer_29880[0+1])

Jordan

- ## 29th step:
  ### Dictionaries: Adding items

In [1]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
customer_29880[4] = "Hong Kong"
customer_29880[5] = "China"
print(customer_29880)

{1: 'Jordan', 2: 'Smith', 3: '56 Bayside Drive', 4: 'Hong Kong', 5: 'China'}

- ## 30th step:
  ### Dictionaries: Removing and changing

In [3]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
del customer_29880[1]
print(customer_29880)

{2: 'Smith', 3: '56 Bayside Drive'}

In [4]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
customer_29880 [2] = "lincon"
print(customer_29880)

{1: 'Jordan', 2: 'lincon', 3: '56 Bayside Drive'}

- ## 31st step :
  ### Dictionaries: Looping through values

In [8]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
for each_value in customer_29880.values():
    print(each_value)

Jordan
Smith
56 Bayside Drive

In [9]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
for customer_29880 in customer_29880.values():
    print(customer_29880)

Jordan
Smith
56 Bayside Drive

In [10]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
for info in customer_29880.values():
    print(info)

Jordan
Smith
56 Bayside Drive

- ## 32nd step:
  ### Dictionaries: Looping through keys

In [12]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
for each_value in customer_29880.keys():
    print(each_value)

1
2
3

In [14]:
customer_29880 = { 1 : "Jordan", 2 : "Smith", 3 : "56 Bayside Drive"}
for info in customer_29880.keys():
    print(info)

1
2
3

- ## 33rd step
  ### Dictionaries: Looping through keyvalue pairs

In [20]:
customer_29880 = { "first_name" : "Jordan", "last name" : "Smith", "address" : "56 Bayside Drive"}
for each_value , each_key in customer_29880.items():
    print("The Customer's " + each_value + " is " + each_key)

The Customer's first_name is Jordan
The Customer's last name is Smith
The Customer's address is 56 Bayside Drive

- ## 34th step:
  ### Creating a list of dictionaries

In [3]:
customers = [ { "customer id " : 0 , "first_name" : "Jordan", "last name" : "Smith", "address" : "56 Bayside Drive"}, 
              { "customer id " : 1 , "first_name" : "Marcus", "last name" : "Chen", "address" : "892 Oak Avenue" },
              { "customer id " : 2 , "first_name" : "Sarah", "last name" : "O'Connor", "address" : "45 Pine Street" }, ]
print (customers[0])

{'customer id ': 0, 'first_name': 'Jordan', 'last name': 'Smith', 'address': '56 Bayside Drive'}

- ## 35th step:
  ### How to pick information out of a list of dictionaries

In [9]:
customers = [ { "customer id " : 0 , "first_name" : "Jordan", "last name" : "Smith", "address" : "56 Bayside Drive"}, 
              { "customer id " : 1 , "first_name" : "Marcus", "last name" : "Chen", "address" : "892 Oak Avenue" },
              { "customer id " : 2 , "first_name" : "Sarah", "last name" : "O'Connor", "address" : "45 Pine Street" }, ]
print (customers[0])

{'customer id ': 0, 'first_name': 'Jordan', 'last name': 'Smith', 'address': '56 Bayside Drive'}